* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #161925;
}

.wrap-lookathim {
    width: 100%;
    height: 100vh;
    background-color: #202020fd;
    opacity: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    animation: none;
}

@keyframes transition {
    0%{
        width: 100%;
        height: 100vh;
        background-color: #202020fd;
        opacity: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;    
    }
    70%{
        width: 100%;
        height: 100vh;
        background-color: #202020fd;
        opacity: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute; 
    }
    100%{
        width: 100%;
        height: 100vh;
        background-color: #202020fd;
        display: none;
        opacity: 0%;
        align-items: center;
        justify-content: center;
        position: absolute;
    
    }
}
.efeito-loading{
    width: 55px;
    height: 55px;
    opacity: 0;
    margin-top: 5px;
    background-color: transparent;
    border: 10px solid #D90429;
    border-radius: 50%;
    border-top: 10px solid transparent;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.btn-first {
    padding: 17px 40px;
    margin-bottom: 10px;
    border-radius: 50px;
    border: 0;
    position: relative;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}

.btn-first:hover {
    letter-spacing: 3px;
    background-color: #D90429;
    color: hsl(0, 0%, 100%);
    box-shadow: #D90429 0px 7px 29px 0px;
}

.btn-first:active {
    letter-spacing: 3px;
    background-color: #D90429;
    color: hsl(0, 0%, 100%);
    box-shadow: #D90429 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.header {
    padding: 10px;
    border: 5px solid #EDEBD7;
    color: #EDEBD7;
    text-align: center;
    transition: all 0.5s ease-out;
}

.header:hover {
    background-color: #EDEBD7;
    color: #161925;
    letter-spacing: 1px;
    box-shadow: 0px 0px 30px #EDEBD7, 0px 0px 15px #EDEBD7;

}

.galeria {
    padding-top: 20px;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #D90429;

}

.quadros {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #D90429;
    transition: all 0.3s ease-out;
}
.quadros:hover {
    border: 2px solid #c10726;
    border-radius: 20px;
    box-shadow: 0px 0px 30px #D90429, 0px 0px 15px #D90429 inset;
    color: #EDEBD7;
    text-shadow: 0px 0px 10px #EDEBD7;
}

.sobreposicao{
    width: 300px;
    height: 400px;
    display: block;
    position: absolute;
}

.quadro-h1 {
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.quadro-img {
    width: 200px;
} /*.quadro-img:hover{
    border-radius: 10px;
    transition: all 0.2s ease-out;
    box-shadow: 0px 0px 15px #EDEBD7, 0px 0px 7px #EDEBD7 inset;
}*/

.button-veredito {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    text-transform: uppercase;
    font-weight: 550;
    color: #EDEBD7;
    background-color: #197278;
    text-decoration: none;
    transition: all 0.2s ease-out;
    text-shadow: none;
}.button-veredito:hover{
    letter-spacing: 1px;
    background-color: #155e63;
}

@media (max-width: 566px) {
    .header {
        font-size: 10px;
        border: 1px solid #EDEBD7;
    }.quadros {
        width: 200px;
        height: 320px;
        margin: 5px;
        font-size: 10px;
    }.quadro-img{
        width: 180px;
    }
}

@media (max-width: 768px) {
    .quadros{
        width: 270px;
        height: 350px;
        margin: 5px;
        font-size: 13px;
    }
}
