* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.button-voltar{
    padding: 6px 15px;
    background-color: #EDEBD7;
    color: #161925;
    text-decoration: none;
    position: absolute;
    border-radius: 10px;
    top: 5px;
    left: 5px;
}

.goes-img{
    width: 100px;
    padding: 10px 0px;
    border-radius: 50%;
}

body {
    background-color: #161925;
}

.section-h1{
    padding-top: 5px;
}

.section{
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.section-img{
    width: 290px;
    margin: 12px 10px;
    border-radius: 10px;
    transition: all 0.2s ease-out;
    box-shadow: 0px 0px 15px #EDEBD7, 0px 0px 7px #EDEBD7 inset;
}

.button-veredito{
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: #155e63;
    box-shadow: #0000000d 0 0 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    color:#EDEBD7;
    transition: all .5s ease;
}
 .button-veredito:hover{
    letter-spacing: 2px;
    background-color: #EDEBD7;
    color: #161925;

}

.veredito-section{
    display: none;
    flex-direction: column;
    align-items: center;
    color: #EDEBD7;
    text-align: center;
}

p{
    padding-top: 5px;
    color: white;
}